# Summary

In [ ]:
import os
def working_directory():
    """fixed the issue

    Returns:
        str: the location of the ideal directory
    """
    return os.getcwd().replace("\\notebooks","")
os.chdir(working_directory())

# Checking the data

In [ ]:
# importing libraries 
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('data/Telco-Customer-Churn.csv')
df.head(3).T

                                 0             1               2
customerID              7590-VHVEG    5575-GNVDE      3668-QPYBK
gender                      Female          Male            Male
SeniorCitizen                    0             0               0
Partner                        Yes            No              No
Dependents                      No            No              No
tenure                           1            34               2
PhoneService                    No           Yes             Yes
MultipleLines     No phone service            No              No
InternetService                DSL           DSL             DSL
OnlineSecurity                  No           Yes             Yes
OnlineBackup                   Yes            No             Yes
DeviceProtection                No           Yes              No
TechSupport                     No            No              No
StreamingTV                     No            No              No
StreamingMovies                 No            No              No
Contract            Month-to-month      One year  Month-to-month
PaperlessBilling               Yes            No             Yes
PaymentMethod     Electronic check  Mailed check    Mailed check
MonthlyCharges               29.85         56.95           53.85
TotalCharges                 29.85        1889.5          108.15
Churn                           No            No             Yes

In [5]:
#Quality of life changes
    #renaming columns with spaces to be separated by '_' instead
    #renaming columns to lowercase
df.rename(columns={"SeniorCitizen":"senior_citizen",
                  "PhoneService":"phone_service",
                  "MultipleLines":"multiple_lines",
                  "InternetService":"internet_service",
                  "OnlineSecurity":"online_security",
                  "OnlineBackup":"online_backup",
                  "DeviceProtection":"device_protection",
                  "TechSupport":"tech_support",
                  "StreamingTV":"streaming_tv",
                  "StreamingMovies":"streaming_movies",
                  "PaperlessBilling":"paperless_billing",
                  "PaymentMethod":"payment_method",
                  "MonthlyCharges":"monthly_charges",
                  "TotalCharges":"total_charges"},inplace=True)
df.columns = df.columns.str.lower()

In [6]:
# a look at the datatypes 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

On first glance, it shows no missing data. The issue is why TotalCharges has been represented as an object rather than a float.As this came from a CSV file, it is unusal for a 'fully numerical' column to be represented as this. It is likely that at least one of the values has been recorded as a space ' '.

In [7]:
# Data qualiity checks
    # checking for duplicated values 
    # checking for missing data
assert df.duplicated().all() == False, "You have some work to do matey!"

# Can drop the ID column
df.drop(columns='customerid',inplace=True)

In [8]:
#checking for missing data 
#remember that missing data can be represented in different ways, for example 'Nan', and unusual values 
# like -99, -100.
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
gender,7043,2,Male,3555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
senior_citizen,7043.0,NaN,NaN,NaN,0.162147,0.368612,0.0,0.0,0.0,0.0,1.0
partner,7043,2,No,3641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dependents,7043,2,No,4933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,7043.0,NaN,NaN,NaN,32.371149,24.559481,0.0,9.0,29.0,55.0,72.0
phone_service,7043,2,Yes,6361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
multiple_lines,7043,3,No,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
internet_service,7043,3,Fiber optic,3096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
online_security,7043,3,No,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
online_backup,7043,3,No,3088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device_protection,7043,3,No,3095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tech_support,7043,3,No,3473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
streaming_tv,7043,3,No,2810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
streaming_movies,7043,3,No,2785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contract,7043,3,Month-to-month,3875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
paperless_billing,7043,2,Yes,4171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
payment_method,7043,4,Electronic check,2365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
monthly_charges,7043.0,NaN,NaN,NaN,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75
total_charges,7043,6531,20.2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
churn,7043,2,No,5174,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Changing datatypes

In [9]:
# due to it being a string, most likley these values are recorded as ' ' 
# If true, the assumption is that this is due them being new customers 
assert((df.total_charges == ' ').any()), "not today mate"
assert(((df.total_charges == ' ') == (df.tenure == 0)).all())
df.total_charges = df.total_charges.replace({' ': '0'})

In [10]:
# changing the column total_charges to a numerical datatype
df.total_charges = pd.to_numeric(df.total_charges)
#df.total_charges.as_type(float)

In [11]:
df.head(2).T

                                  0             1
gender                       Female          Male
senior_citizen                    0             0
partner                         Yes            No
dependents                       No            No
tenure                            1            34
phone_service                    No           Yes
multiple_lines     No phone service            No
internet_service                DSL           DSL
online_security                  No           Yes
online_backup                   Yes            No
device_protection                No           Yes
tech_support                     No            No
streaming_tv                     No            No
streaming_movies                 No            No
contract             Month-to-month      One year
paperless_billing               Yes            No
payment_method     Electronic check  Mailed check
monthly_charges               29.85         56.95
total_charges                 29.85        1889.5
churn                            No            No

In [12]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
gender,7043,2,Male,3555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
senior_citizen,7043.0,NaN,NaN,NaN,0.162147,0.368612,0.0,0.0,0.0,0.0,1.0
partner,7043,2,No,3641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dependents,7043,2,No,4933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,7043.0,NaN,NaN,NaN,32.371149,24.559481,0.0,9.0,29.0,55.0,72.0
phone_service,7043,2,Yes,6361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
multiple_lines,7043,3,No,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
internet_service,7043,3,Fiber optic,3096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
online_security,7043,3,No,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
online_backup,7043,3,No,3088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device_protection,7043,3,No,3095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tech_support,7043,3,No,3473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
streaming_tv,7043,3,No,2810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
streaming_movies,7043,3,No,2785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contract,7043,3,Month-to-month,3875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
paperless_billing,7043,2,Yes,4171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
payment_method,7043,4,Electronic check,2365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
monthly_charges,7043.0,NaN,NaN,NaN,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75
total_charges,7043.0,NaN,NaN,NaN,2279.734304,2266.79447,0.0,398.55,1394.55,3786.6,8684.8
churn,7043,2,No,5174,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.to_csv("data/Telco-Customer-Churn-clean.csv",index = False)